.cookie-banner{
    display: none;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.button-cookie{
    background: #ccc;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #aaa;
    border-bottom: 2px solid #aaa;
}

 .cookie-banner .container{
     margin: 0 auto;
     width: 70%;
     color: #f0f0f0;
     padding: 15px;
 }